@import url('../../../styles/common.css');

.header-template {
  background: var(--primaryDarkColor);
  position: relative;
  top: 0;
  width: 100%;
}

.header-navbar-tools {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.ui.grid.grid-header-template {
  margin: 0;
  padding: 0;
  align-items: center;
  position: relative;
}

.header-navbar-right-tool {
  margin: 0 0.938rem;
  cursor: pointer;
}

.header-template .ui.mini.image,
.ui.mini.images .image,
.ui.mini.images img,
.ui.mini.images svg {
  height: auto;
  font-size: 0.78571429rem;
}

.ui.dropdown .menu.user-custom-menu {
  margin: 0 0.8rem;
}

.ui.dropdown .menu > .header.user-menu-header {
  width: 15rem;
  text-transform: initial;
  text-align: left;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}
.drop-down-header-column {
  display: flex !important;
  align-items: center;
}
.drop-down-header {
  margin: 0 auto;
}
.username-grid {
  height: 5px;
}
.header-grid-column {
  padding: 0 !important;
}
.header-navbar-username,
.header-navbar-menu-username {
  text-transform: capitalize;
}

.header-navbar-username {
  color: var(--colorWhite);
  text-align: center;
}
