@import url('../../../styles/common.css');

.ui.input>input.custom-range-input[type="range"] {
    -webkit-appearance: none;
    padding: unset;
    overflow: hidden;
    width: 100%;
    height: 0.75rem;
    border-radius: 0.125rem;
    border-width: 0.0625rem;
}

.ui.input>input.custom-range-input[type=range]::-webkit-slider-runnable-track {
    border-radius: 0.125rem;
}

.ui.input>input.custom-range-input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 0;
    height: 0;
    background: var(--primaryColor);
    border-radius: 0.125rem;
    box-shadow: calc(-100vw - 0.125rem) 0 0 calc(100vw + 0.125rem) var(--primaryColor);
}

.ui.input>input.custom-range-input[type="range"]::-moz-range-progress {
    cursor: pointer;
    width: 0;
    height: 0;
    background: var(--primaryColor);
    border-radius: 0.125rem;
    box-shadow: calc(-100vw - 0.125rem) 0 0 calc(100vw + 0.125rem) var(--primaryColor);
}

.ui.input>input.custom-range-input[type=range]::-moz-range-thumb {
    height: 0;
    background: var(--primaryColor);
    border-radius: 0.125rem;
    border: white;
}