.ui.basic.label.custom.custom-label-field {
    padding-left: initial;
    padding-bottom: initial;
    padding-top: initial;
    width: 100%;
    padding: initial;
}

.sixteen.wide.column.custom-input-column {
    padding-top: initial;
}
.sixteen.wide.column.custom-label-column {
    padding-top: initial;
}